
/*resolve Boostrap bold problem */
p, .noClas, ol{
    font-weight: normal;
}

footer div div div hr.hrFooter{
    margin-top: 5px;
    margin-bottom: 5px;
}

footer p{
    margin-bottom: 5px;
}
a.btnComprar{
    background-color: #00A1E3;
    color:#FFF;
    width:102%;
}

a.btnComprar:hover{
    background-color: #00A1E3
}
a.btnExitNo:hover{
    color: #00A1E3;
}

.mapIcon{
    position: relative;
    left:5%;
    padding-top: 1%;
    text-align:center
}

.darTitle{
    color:#00A1E3;
    font-weight: bold;
}

/* header style */

.whatsapp{
    top: 450px;
    right: -190px;
    position: fixed;
    z-index: 99;
}

.upButton{
    top: 530px;
    right: -190px;
    position: fixed;
    z-index: 99;
}

.top-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

html {
    scroll-behavior: smooth;
}

#login-form input::-webkit-input-placeholder {
    text-align: center;
}

nav {
    -webkit-box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.6);
    box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.6);
    border-bottom: 2px solid lightgray;
}

nav a:hover,
nav a.active{
    color: #00A5E6!important;
}

#navbarNav ul li {
    padding: 0 30px;
}

.carousel{
    width: 100%;
    height: auto;
}
.line1 > img{
    width: 480px;
    height: 25px;
}

.barTitle{
    background-color: #143153;
    width: 100%;
    padding: 8px;
}


.img-fluid{
    display: block;
    margin: 0 auto;
}

.leyenda{
    visibility:hidden;
}
.separadorBut{
    margin-top: 8px;
    margin-bottom: 2px;
    display:flex;justify-content:center;align-items:center;
}

@media(max-width:2201px){
    .jumbotron{
        height: 340px;
    }
}

@media(max-width:1801px){
    .jumbotron{
        width: 1800px;
        height: 300px;
    }
}

@media(max-width:1601px){
    .jumbotron{
        height: 300px;
    }
}

@media (max-width: 1400px) {
    .header{
        height: 110px !important;
    }

    .notification{
        padding-left: 200px !important;
        padding-top: 35px !important;
    }
    .jumbotron{
        height: 250px;
    }

}
@media(max-width:960px){
    a.boton{
        font-size: 13px;
    }
}
@media(max-width:767px){
    a.boton{
        height: 40px;
        font-size: 9px;
    }
    div.separadorBut{
        margin-top: 1px ;
        margin-bottom: 1px;
    }

    .separadorBut .boton{
        margin: 0;
    }
}
@media(max-width:847px){
    a.boton{
        padding-right: 1px;
        padding-left: 1px;
    }
}

@media(max-width: 1337px){
    .noDown{
        font-size: 10px;
    }
    .jumbotron{
        height: 240px;
    }
}

@media(max-width:1160px){
    a.boton{
        font-size: 13px;
    }
    .jumbotron{
        height: 220px;
        width: 1160px;
    }
}

@media(max-width: 991px){
    .formLogin,
    #header,
    #backHeader{
        visibility: hidden;
        display: none;
    }

    .logo-menu{
        display: block !important;
    }
    div .jumbotron{
        height: 200px;
    }
}

@media(max-width: 856px){
    div .jumbotron{
        height: 180px;
    }

    .leyenda{
        visibility:visible;
    }
}

@media(max-width:755px){
    div .jumbotron{
        height: 130px;
    }

    .leyenda{
        visibility:visible;
    }
}

@media(max-width:1003px){
    #lblNoAccount{
        font-size: 11px;
    }
    .jumbotron{
        height: 170px;
    }
}

#formLogin2{
    visibility: hidden;
    display: none;
}

@media(max-width:600px){
    #header{
        margin-bottom: 0;
        height: 0;
    }
    .boton{
        width: 100%;
        margin-left: 13px;
    }
    .separadorBut{
        margin: 0px;
    }

    div.jumbotron{
        height: 140px;
    }
}

@media(max-width:551px){
    div.jumbotron{
        width: 550px;
        height: 120px;
    }
}

@media(max-width:481px){
    div.jumbotron{
        height: 100px;
    }
}

@media(max-width:404px){
    div.jumbotron{
        width: auto;
    }
}

@media(max-width:376px){
    div.jumbotron{
        height: 80px;
    }
}

@media(max-width: 991px){
    #formLogin2{
        visibility: visible;
        display:unset;
    }
    .bell2{
        visibility: hidden;
        display: none;
    }
    .line1 > img{
        width: 280px;
        height: 25px;
    }
    .jumbotron{
        height: 120px;
    }
    #footerLogo{
        width: 40% !important;
        display: flex;
        margin: 0 auto;
    }
}


@media(max-width: 1199px){
    .line1{
        width: 380px;
    }
}


/*font*/
@font-face {
    font-family: 'Akzidenz-Grotesk';
    src: url('../fonts/AkzidenzGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk-medium';
    src: url('../fonts/AkzidenzGrotesk-Medium.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Akzidenz-Grotesk-bold';
    src: url('../fonts/AkzidenzGrotesk-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
/*
#navbar{
    background: #009EE2;
    width: 100% !important;
    margin: 0 !important;
    height: 60px !important;
    padding:0 !important;
}
#nav-logo{
    background: #143153;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    z-index: 1000;
    height: 60px !important;
}
#logo{
    margin-left: 10px;
}
#menu{
    background: red;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
    height: 60px !important;
    margin-left: -70px;
    width: 80% !important;
}
.navbar-nav{
}*/

/* botones*/
.boton{
    background-color: #143153;
    color:white;
    text-transform:uppercase;
    font-size: 16px;
    width: 80%;
    text-align: center;
    display:flex;justify-content:center;align-items:center;
}

/* Breadcrups CSS */

.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: white;
    cursor: default;
    margin: 0 3px;
    padding: 10px 10px 10px 30px;
    min-width: 300px;
    float: left;
    position: relative;
    background-color: #009CE0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 22.5px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #009CE0;
    z-index: 2;
    transition: border-color 0.2s ease;

}

.arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;

}

/* .arrow-steps .step:first-child:before {
	border: none;
} */

.arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
    position: relative;
}

.arrow-steps .step span:before {
    opacity: 0;
    content: "✔";
    position: absolute;
    top: -2px;
    left: -20px;
}

.arrow-steps .step.done span:before {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.5s;
    -moz-transition: opacity 0.3s ease 0.5s;
    -ms-transition: opacity 0.3s ease 0.5s;
    transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
    color: #fff;
    background-color: #143153;
}

.arrow-steps .step.current:after {
    border-left: 17px solid #143153;
}
/* end fancy progress bar */

html{
    font-family: 'Akzidenz-Grotesk,';
}
.header{
    background-image: url(../img/header.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;

    height: 110px;
    width: 100%;
}

.border-input{
    border: 1px solid #143153;
}
.primary-color{
    color: #143153;
}
.blue-dark{
    background-color: #143153;
}
.disabl{
    visibility: hidden;
}
.nav-link{
    color: white;
}
.logo-menu{
    display: none;
}
.dropleft .dropdown-toggle::before{
    display: none!important;
}
.img1{
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    background-position: 14%;
    background-size: contain;
}

.img2{
    background-image: url(../img/2.png);
    background-repeat: no-repeat;
    background-position: 14%;
    background-size: contain;
}
.img3{
    background-image: url(../img/3.png);
    background-repeat: no-repeat;
    background-position: 14%;
    background-size: contain;
}
.jumbotron{
    background-image: url(../img/SLD2.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: 100%;
}
.background{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}
div hr.bg-primary{
    background-color: #00A5E6!important;
    height: 0.05em;
}
.hgt{
    height: 400px;
}
@media (max-width:1600px){
    #backHeader img{
        width: 400px;
    }
}
@media (max-width:1200px){
    #backHeader img{
        width: 380px;
    }
}
@media (max-width:1099px){
    #backHeader img{
        width: 340px;
    }
}

/*mobile*/
@media only screen and (max-width: 600px) {
    .header{
        /* desaparece el header para que no quede el espacio en blanco al ser movil... */
        display: none;
        margin-bottom: 30%;
        background: none;
    }

    #noticePrivacy{
        margin: 0 !important;
    }

    #main-logo, #backHeader{
        display: none;
    }

    #buttonLogin {
        display: flex;
        justify-content: center;
    }

    #mobile {
        padding-bottom: 35px !important;
    }

    #signCustomer {
        margin-left: 0 !important;
        width: 100%;
        height: 100%;
    }

   /* .bar{
        display: none;
    }*/
    .hgt{
        height: 200px;
    }



    #efirm{
        width: 225px !important;
    }

    .img2,
    .img3 {
        background-size: auto !important;
    }

}


/* modal 1 */
.modal-header {

    padding: 0;
    margin: 0;
    background: #143153;

}

.times {
    color: white !important;;
    background: #009EE2 !important;
    padding: 5px 10px;
    cursor: pointer;
}

input[type='text'],
input[type='password'],
select {
    border-radius: 3px;
    border: .5px solid #eee;

}

.sml {
    font-size: 9px;
}

.condition {
    font-size: 12px;
    color: #143153;
}

input[type='checkbox'] {
    background: #009EE2 !important;;
}

/* modal 2 */
.md2-heading {
    color: #009EE2;
    font-weight: 500;

}

.md2-row2 {
    background: #009EE2;
    color: white;
    padding: 5px 5px;
}

.md2-row3 {
    margin-bottom: 50px;
}

.md2-icon {
    font-size: 22px;
}

/* modal 8 */

.heading-blue{
    color: white;
    background: #143153;

}
.heading-blue td{
    border-radius: 8px;

}
.blue_row{
    background: #009EE2;
    color: white;
}
.square_list{
    list-style: square;
}
.btn_mdl{
    clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 6px 4px 17px 4px rgba(0,0,0,0);
}
/* header style */

/* main style */



/* main style */

/* footer style */


/* footer style */



/* fix styles */

.carousel-caption{
    position: unset;
}

.container-fluid{
    padding-left: 0!important;
    padding-right: 0!important;
}

.arousel-caption{
    padding-left: 20px ;
    padding-right: 20px ;
}

.modal .btn{
    background-color: #00A1E3;
    color: white;
    padding: 5px 25px;

}

.labelgre {
    position: absolute;
    top: -15px;
    font-size: 14px;
    color: grey;
}

.optionsAccount > div > .active {
    background-color: #009CE0;
}


/********* Account ********/
canvas {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 3px #ccc;
    cursor:pointer;
}

.page-item.active .page-link {
    background-color: #009CE0 !important;
    border: 1px solid lightgrey;
}
.dt-button.excel {
    background-color: #143153;
    border-radius: 6px;
    border: 0px;
    color:white;
    text-transform:uppercase;
    font-size: 18px;
    width: 120px;
    float: right;
    margin: 0px 2px 2px 0px;
}

.dt-button.print {
    background-color: #7d807d;
    border-radius: 6px;
    border: 0px;
    color:white;
    text-transform:uppercase;
    font-size: 18px;
    width: 120px;
    float: right;
    margin: 0px 2px 2px 0px;
}

.btn:hover {
    color: white;
    text-decoration: none;
}

/*Sidebar*/
.active_sb {
    color: #143153 !important;
    font-weight: bold;
}

.benefits_sb a {
    text-decoration: none;
    color:#212529;
}

.benefits_sb a:hover {
    text-decoration: none;
    color:#009CE0;
}

#assistanceCall:hover {
    color: #143153 !important;
}

/* RESPONSIVE TABLE PREGUNTAS FRECUENTES */
table.question {
    width: 100%;
    border-collapse: collapse;
}

/* Zebra striping */
tr.question:nth-of-type(odd) {
    background: #f3f3f3
}

th.question {
    background: #143153;
    color: white;
    font-weight: bold;
}

td.question,
th.question {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}


a.navItemHeader{
    width:165px;
    color:#fff;
    margin-bottom: 5px;
    padding: 5px 0;
}

a.navItemHeader:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 991px) {

    /* Force table to not be like tables anymore */
    table.question,
    thead.question,
    tbody.question,
    th.question,
    td.question,
    tr.question {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead.question tr.question {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr.question {
        border: 1px solid #ccc;
    }

    td.question {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td.question:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        color: #143153;
        text-align: right
    }

    /*
Label the data for the first TABLE
*/
    td.firstTB:nth-of-type(1):before {
        content: "Compra Mensual";
    }

    td.firstTB:nth-of-type(2):before {
        content: "Nivel";
    }

    td.firstTB:nth-of-type(3):before {
        content: "Seguro";
    }

    td.firstTB:nth-of-type(4):before {
        content: "Asistencia";
    }

    /*
Label the data for the second TABLE
*/
    td.secondTB:nth-of-type(1):before {
        content: "Compra Mensual";
    }

    td.secondTB:nth-of-type(2):before {
        content: "Nivel";
    }

    td.secondTB:nth-of-type(3):before {
        content: "Seguro";
    }

    td.secondTB:nth-of-type(4):before {
        content: "Asistencia";
    }

    td.secondTB:nth-of-type(5):before {
        content: "No.Colaboradores";
    }

    /* label of third table, terms and conditions */
    td.thirdTB:nth-of-type(1):before{
        content: "ASISTENCIA";
    }
    td.thirdTB:nth-of-type(2):before{
        content: "SUBSERVICIO";
    }
    td.thirdTB:nth-of-type(3):before{
        content: "PROGRAMA SALUD";
    }
    td.thirdTB:nth-of-type(4):before{
        content: "PROGRAMA SALUD+";
    }
}
#footerLogo{
    width: 100%;
}

#noticePrivacy{
    margin: 0 105px;
}

@media only screen and (min-width: 1600px) {
    #noticePrivacy{
        margin: 0 221px !important;
    }
}

/* MAPA */

.our-branches__content-address {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.our-branches__content-address-map {
    flex: 0 35%;
    position: relative;
    padding-top: 7%;
}

.our-branches__content-address-location {
    flex: 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.our-branches__content-address-location-search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.our-branches__content-address-location-search-label {
    width: 90%;
    font-size: 16pt;
    color: #e11f1d;
    line-height: 40px;
}

.our-branches__content-address-location-title--wrapper {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.our-branches__content-address-location-result {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 1px solid #143153;
    padding: 15px;
    color: #143153;
}

#map, #map_2 {
    margin-top: 10px;
    width: 100%;
    height: 395px;
}

.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}

.our-branches__content-address-location-search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.our-branches__content-estate-location-search-select, .our-branches__content-address-location-search-select {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    color: #143153;
}

.our-branches__content-address-location-title {
    font-size: 17px;
    margin-bottom: 10px;
}

.our-branches__content-address-location-result-item {
    display: flex;
    width: 100%;
    align-items: center;
}

.our-branches__content-address-location-result-item-img {
    margin-right: 10px;
}

@media (max-width: 1120px) {
    .our-branches__content-address {
        flex-direction: column-reverse;
    }
}

.our-branches__content-address-location-result-item-body > p {
    margin-bottom: 1px !important;
}

.navItemHeader{
    color: white;
}

.bg-primary {
    background-color: #00a5e6 !important;
}

@media (max-width: 1366px) {
    .our-branches__content-address-map {
        padding-top: 8% !important;
    }

    #map, #map_2 {
        height: 420px !important;
    }
}
