
/* header style */

.whatsapp{
    top: 500px;
    right: -12px;
    position: fixed;
    z-index: 99;
}

.top-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

html {
    scroll-behavior: smooth;
}

#login-form input::-webkit-input-placeholder {
    text-align: center;
}

nav {
    -webkit-box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.6);
    box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.6);
    border-bottom: 2px solid lightgray;
}

nav a:hover,
nav a.active{
    color: #00A5E6!important;
}

#navbarNav ul li {
    padding: 0 30px;
}

@media (min-width: 1400px) {
    .header{
        height: 110px !important;
    }

    .notification{
        padding-left: 200px !important;
        padding-top: 35px !important;
    }
}


/*font*/
@font-face {
    font-family: 'Akzidenz-Grotesk';
    src: url('../fonts/AkzidenzGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk-medium';
    src: url('../fonts/AkzidenzGrotesk-Medium.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Akzidenz-Grotesk-bold';
    src: url('../fonts/AkzidenzGrotesk-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
/*
#navbar{
    background: #009EE2;
    width: 100% !important;
    margin: 0 !important;
    height: 60px !important;
    padding:0 !important;
}

#nav-logo{
    background: #143153;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    z-index: 1000;
    height: 60px !important;
}

#logo{
    margin-left: 10px;
}
#menu{
    background: red;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
    height: 60px !important;
    margin-left: -70px;
    width: 80% !important;
}
.navbar-nav{

}*/

/* botones*/
.boton{
    background-color: #143153;
    color:white; 
    text-transform:uppercase;
    font-size: 16px;
    width: 250px;
}
/* Breadcrups CSS */

.arrow-steps .step {
	font-size: 14px;
	text-align: center;
	color: white;
	cursor: default;
	margin: 0 3px;
	padding: 10px 10px 10px 30px;
	min-width: 300px;
	float: left;
	position: relative;
	background-color: #009CE0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 22.5px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #009CE0;
	z-index: 2;
	transition: border-color 0.2s ease;
	
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;
	z-index: 0;
	
}

/* .arrow-steps .step:first-child:before {
	border: none;
} */

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
	position: relative;
}

.arrow-steps .step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.arrow-steps .step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
	color: #fff;
	background-color: #143153;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #143153;
}
/* end fancy progress bar */

html{
    font-family: 'Akzidenz-Grotesk,';
}
.header{
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 90px;
    width: 100%;
}

.border-input{
    border: 1px solid #143153;
}
.primary-color{
    color: #143153;
}
.blue-dark{
    background-color: #143153;
}
.disabl{
visibility: hidden;
}
.nav-link{
    color: white;
}
.logo-menu{
display: none;
}
.dropleft .dropdown-toggle::before{
    display: none!important;
}
.img1{
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    background-position: 14%;
    background-size: contain;
}

.img2{
    background-image: url(../img/2.png);
    background-repeat: no-repeat;
    background-position: 14%;
    background-size: contain;
}
.img3{
    background-image: url(../img/3.png);
    background-repeat: no-repeat;
    background-position: 14%;
    background-size: contain;
}
.jumbotron{
    background-image: url(../img/SLD.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    height: 300px;
}
.background{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}
.bg-primary{
    background-color: #00A5E6!important;
}
.hgt{
    height: 400px;
}
/*mobile*/
@media only screen and (max-width: 600px) {
 .header{
     display: none;
 }
 .logo-menu{
     display: block;
 }

 .bar{
    display: none;
}
.hgt{
    height: 200px;
}
.line1{
    display: none;
}
  }


  /* modal 1 */
  .modal-header {

      padding: 0;
      margin: 0;
      background: #143153;

  }

  .times {
      color: white !important;;
      background: #009EE2 !important;
      padding: 5px 10px;
      cursor: pointer;
  }

  input[type='text'],
  input[type='password'],
  select {
      border-radius: 3px;
      border: .5px solid #eee;

  }

  .sml {
      font-size: 9px;
  }

  .condition {
      font-size: 12px;
      color: #143153;
  }

  input[type='checkbox'] {
      background: #009EE2 !important;;
  }

  /* modal 2 */
  .md2-heading {
      color: #009EE2;
      font-weight: 500;

  }

  .md2-row2 {
      background: #009EE2;
      color: white;
      padding: 5px 5px;
  }

  .md2-row3 {
      margin-bottom: 50px;
  }

  .md2-icon {
      font-size: 22px;
  }

  /* modal 8 */

  .heading-blue{
      color: white;
      background: #143153;

  }
  .heading-blue td{
     border-radius: 8px;

  }
  .blue_row{
      background: #009EE2;
      color: white;
  }
  .square_list{
      list-style: square;
  }
  .btn_mdl{
      clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);
      box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 6px 4px 17px 4px rgba(0,0,0,0);
  }
/* header style */

/* main style */



/* main style */

/* footer style */


/* footer style */



/* fix styles */

.carousel-caption{
    position: unset;
}

.container-fluid{
    padding-left: 0!important;
    padding-right: 0!important;
}

.arousel-caption{
    padding-left: 20px ;
    padding-right: 20px ;
}

.modal .btn{
    background-color: #00A1E3;
    color: white;
    padding: 5px 25px;

}

.labelgre {
    position: absolute;
    top: -15px;
    font-size: 14px;
    color: grey;
}
